* {
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: rgb(247, 200, 113);
    text-decoration: none;
}

:root {
    --main-color: #006341;
    --dark-color: #242221;
    --light-color: #f8f8f8;
}

.header-container {
    background-color: var(--light-color);
}

#header {
    position: relative;
    /* background-color: rgb(180, 211, 242); */
    padding: 16px 120px;
    display: flex;
}

.decorative-line {
    display: block;
    height: 12px;
    background-color: var(--main-color);
    width: 100%;
}

.logo-container {
    display: inline-block;
    flex: 1;
}

.store-location-container {

    flex: 2;
    text-align: center;
    margin: auto;;
}

.store-location span {
    color: var(--main-color);
    /* margin: auto; */
    /* background-color: crimson; */
}

.location-marker {
    width: 16px;
    /* background-color: coral; */
}

.nav-menu {
    flex: 8;
    display: flex;
    align-items: flex-end;
}

.nav-menu ul {
    width: 80%;
    display: flex;
}

.nav-menu a {
    color: var(--dark-color);
    font-size: 20px;
    padding: 16px;
    padding-left: 12px;
}

.nav-menu a:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}